[user]
	name = hectorrami
	email = hectorramirez096@gmail.com
	# Privacy-friendly alternative for public pushes (GitHub no-reply):
	# email = 37157448+hectorrami@users.noreply.github.com
[http]
	postBuffer = 524288000
